
<h1 class="text-color-warning m-3 p-3" style="text-align:center">Favorite Pokemon</h1><hr>
    <% if (favoritePokemon.length > 0) { %>
        <div id="favoriteCarousel"  class="carousel slide mx-auto m-4 w-50 pt-3 border border-warning border-3" data-bs-ride="carousel" >
            <!-- indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#favoriteCarousel" data-bs-slide-to="0" class="active bg-success" aria-current="true" aria-label="Slide 1"></button>
                <% let fInd = 1 %>
                <% while (fInd < favoritePokemon.length) { %>
                    <button type="button" data-bs-target="#favoriteCarousel" data-bs-slide-to="<%=fInd%>" class="bg-success"aria-label="Slide <%=fInd+1%>"></button>
                    <% fInd += 1 %>
                <% } %>
            </div>
            <!-- images -->
            <div class="carousel-inner">
                <div class="carousel-item active justify-content-center" >
                    <a href="/pokemon/byName/<%=favoritePokemon[0].name%>" data-target="<%=favoritePokemon[0].name%>Img">
                        <img src="<%=favoritePokemon[0].imgURL%>" class="d-block w-100" alt="<%= favoritePokemon[0].name%>" id="<%=favoritePokemon[0].name%>Img">
                    </a>
                </div>
                <% fInd = 1 %>
                <% while (fInd < favoritePokemon.length) { %>
                    <div class="carousel-item">
                        <a href="/pokemon/byName/<%=favoritePokemon[fInd].name%>" data-target="<%=favoritePokemon[fInd].name%>Img">
                            <img src="<%=favoritePokemon[fInd].imgURL%>" class="d-block w-100" alt="<%= favoritePokemon[fInd].name%>" id="<%=favoritePokemon[fInd].name%>Img">
                        </a>
                    </div>
                    <% fInd += 1 %>
                <% } %>
            </div>
            <!-- buttons -->
            <div>
                <button class="carousel-control-prev" type="button" data-bs-target="#favoriteCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#favoriteCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="d-flex flex-wrap overflow-scroll">
            <% for (pokemon of favoritePokemon) {%>
                <div class="bg-light w-33 mx-auto m-2 p-2 border border-warning border-2">
                    
                    <div class="m-2 p-2">
                        <h1 style="text-align:center">
                            <strong><%= pokemon['name'] %> </strong>
                        </h1>
                        
                    </div>
                    <div class="w-50 mx-auto">
                        <a href="/pokemon/byName/<%=pokemon.name%>" >
                            <img class="image w-100" src="<%= pokemon.imgURL%>"></img>
                        </a>
                    </div>
                    <div class="row m-2 border border-success border-2 overflow-scroll" >
                        <div class="col m-1 p-1"> 
                            <strong style="font-size: smaller;">Pokedex #: </strong>
                            <span style="font-size: smaller;"> <%= pokemon.id %></span> <br>
                            <strong  style="font-size: smaller;">Type(s): </strong>
                            <span style="font-size: smaller;"> 
                            <%= pokemon['type1'] %>              
                            <% if (pokemon['type2'] != "None") { %>
                                & <%= pokemon['type2'] %>
                            <% } %>
                        </span> 
                        </div>
                        <div class="col m-1 p-1">
                            <strong style="font-size: smaller;">HP: </strong>
                            <span style="font-size: smaller;"> 
                            <%= pokemon.hp %> <br>
                            </span>
                            <strong style="font-size: smaller;">Speed: </strong>
                            <span style="font-size: smaller;"> 
                            <%= pokemon.speed %> <br>
                            </span>
                        </div>
                        <div class="col m-1 p-1" >
                            <strong  style="font-size: smaller;">Attack: </strong>
                            <span style="font-size: smaller;"> 
                            <%= pokemon.attack %> <br>
                            </span>
                            <strong style="font-size: smaller;">Defense: </strong>
                            <span style="font-size: smaller;"> 
                            <%= pokemon.defense %> <br>
                            </span>
                        </div>
                        <div class="col m-1 p-1">
                            <strong style="font-size: smaller;">Sp. Attack: </strong>
                            <span style="font-size: smaller;"> 
                            <%= pokemon.spAttack %> <br>
                            </span>
                            <strong style="font-size: smaller;">Sp. Defense: </strong>
                            <span style="font-size: smaller;"> 
                            <%= pokemon.spDefense %> <br>
                            </span>
                        </div>
                    </div>
                    <div class="p-3">
                        <strong style="font-size: smaller;">Moves: </strong> <br>
                        <% for (move in pokemon.moves) { %> 
                            <span style="font-size: smaller;" class="p-3"> 
                            <u> <%= move %> </u><br>
                            </span>
                        <% } %>
                        <br>
                    </div>
                    <div>
                        <strong>Mark As:</strong>
                        <form method="post" action="/pokemon/addData/<%= pokemon.name %>">
                            <input type="checkbox" id="<%= pokemon.name %>Seen" name="seen" value="seen">
                            <label for="<%= pokemon.name %>Seen">Seen</label>
                            <input type="checkbox" id="<%= pokemon.name %>Caught" name="caught" value="caught">
                            <label for="<%= pokemon.name %>Caught">Caught</label>
                            <input type="checkbox" id="<%= pokemon.name %>Favorite" name="favorite" value="favorite">
                            <label for="<%= pokemon.name %>Favorite">Favorite</label>
                            <input type="submit" value="Set" class="m-2">
                        </form>
                    </div>
                    <div>
                        <a href="/pokemon/myData/favorite/remove/<%=pokemon.name%>"> Remove from Favorite</a>
                    </div>

                </div>
                
            <% }%>
        </div>
    <% } else { %>
        <div style="text-align: center;">
            No Data to Show. You have no Favorite Pokemon. Mark Pokemon as Favorite to include on this page.
        </div>
    <% } %>
