<div class="bg-light m-5 p-2 border border-danger border-2">
    <div class="mb-2">
        <h1 style="text-align:center">
            <strong><%= pokemon.name %> </strong>
        </h1>
        
    </div>
    <div class="mb-2">
        <strong>Pokedex #: </strong><%= pokemon.id %> <br>
        <strong>Type(s): </strong><%= pokemon['type1'] %>              
        <% if (pokemon['type2'] != "None") { %>
            & <%= pokemon['type2'] %>
        <% } %>
    </div>
    <div class="mb-2">
        <strong>HP: </strong><%= pokemon.hp %> <br>
        <strong>Speed: </strong><%= pokemon.speed %> <br>
    </div>
    <div class="mb-2">
        <strong>Attack: </strong><%= pokemon.attack %> <br>
        <strong>Defense: </strong><%= pokemon.defense %> <br>
    </div>
    <div class="mb-2">
        <strong>Sp. Attack: </strong><%= pokemon.spAttack %> <br>
        <strong>Sp. Defense: </strong><%= pokemon.spDefense %> <br>
    </div>
    <div class="dropdown p-3">
        <strong>Moves: </strong> <br>
        <% for (move in pokemon.moves) { %> 
            <%= move %> <br>
        <% } %>
    </div>

</div>

<!-- <hr>
<pre>
    <%= JSON.stringify(pokemon,null,5) %>
</pre> -->