
<table class="table table-bordered table-striped mt-4">
    <thead>
        <tr>
            <th style="text-align:center">Pokedex #</th>
            <th style="text-align:center">Name</th>
            <th style="text-align:center">Type(s)</th>
            <th style="text-align:center">Category</th>
            <th style="text-align:center">HP</th>
            <th style="text-align:center">Attack</th>
            <th style="text-align:center">Defense</th>
            <th style="text-align:center">Sp. Attack</th>
            <th style="text-align:center">Sp. Defense</th>
            <th style="text-align:center">Catch Rate</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (pokemon of pokemons) {
        const id = pokemon['id'];
        const name = pokemon['name'];
        const type1 = pokemon['type1'];
        const type2 = pokemon['type2'];
        const category = pokemon['category'];
        const hp = pokemon['hp'];
        const attack = pokemon['attack'];
        const defense = pokemon['defense'];
        const spAttack = pokemon['spAttack'];
        const spDefense = pokemon['spDefense'];
        const captureRate = pokemon['captureRate'];
        %>
      <tr class="mb-2"> 
        <td style="text-align:center"><%= pokemon['id']%></td>
        <td>
            <a href="/pokemon/show/<%=pokemon.id %>">
                <%=  pokemon['name'] %>

            </a>
        </td>

        <td>
            <% if (type1 != "None") { %>
                <%= pokemon['type1'] %>                
            <% } %>
            <% if (type2 != "None") { %>
                <br><%= pokemon['type2'] %>
            <% } %>
        </td>

        <td >
            <%=pokemon['category'] %>
        </td>
        <td style="text-align:center">
            <%=pokemon['hp']%>
        </td>
        <td style="text-align:center">
            <%=pokemon['attack']%>
        </td>
        <td style="text-align:center">
            <%=pokemon['defense']%>
        </td>
        <td style="text-align:center">
            <%=pokemon['spAttack']%>
        </td>
        <td style="text-align:center">
            <%=pokemon['spDefense']%>
        </td>
        <td style="text-align:center">
            <%=pokemon['captureRate']%>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>

 <pre>
        <%= JSON.stringify(pokemons,null,5) %> 
</pre> 